<div class = 'row'>
  <div class="col-xs-12 col-md-12">
      <ul class="nav nav-tabs">
        <li><a href="../secretarias/index">Inicio</a></li>
        <li><a href="../secretarias/crearPlanes" class = 'active'>Crear Planes de Formación</a></li>
        <li><a href="../secretarias/logout">Cerrar Sesión</a></li>
      </ul>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-md-12">
    <div class="text-right">
      <div id = "fechamuestra">
        <script languaje="JavaScript">
          fecha();
        </script> 
      </div>
      <%if @nombre%>
        <div>
          <h4><b><%=@nombre%></b></h4>
        </div>
      <%end%>
    </div>
  </div>
</div>
<div class="row">
  <div class = 'col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0 text-justify'>
    <label>TUTOR</label>
    <input id="respuesta" onkeyup='buscarTutor2()'>
    <br>
    <p>aqui deberia ir un imput text para seleccionar el nombre del TUTOR</p>
    <br>
    <label>INSTRUCTOR</label>
    <input>
    <p>aqui deberia ir un imput text para seleccionar el nombre del INSTRUCTOR</p>
    <br>
  </div>
</div>
      <% if session[:personas] %>
        <div>
          <h4><b><%= session[:personas][0]['usuario_id'] %></b></h4>
        </div>
      <% end %>

<label for="resultado_tipos">Seleccione la escuela:</label><br>
<%= select_tag(:escuelas, options_for_select(@escuelas), {:onchange => "buscarTutor()", :class => "form-control", :style => "width:20%;" }) %>

<br><br> 

<script type="text/javascript">
  function buscarTutor(){
    var escuela = $('#id').val();
    $.ajax({
        url: "/secretarias/buscarTutor?escuela="+escuela+"",
        dataType: "JSON",
        timeout: 10000,
        beforeSend: function(){
           $("#respuesta").html("Cargando...");
        },
        error: function(){
           $("#respuesta").html("Error al intentar buscar el Tutor, por favor intente mas tarde.");
        },
        success: function(data){
          alert(data)

        }
    })
  }

    // function buscarTutor2(){
    // $.ajax({
    //     url: "/secretarias/buscarTutor",
    //     dataType: "JSON",
    //     timeout: 10000,
    //     beforeSend: function(){
    //        $("#respuesta").html("Cargando...");
    //     },
    //     error: function(){
    //        $("#respuesta").html("Error al intentar buscar el Tutor, por favor intente mas tarde.");
    //     },
    //     success: function(data){
    //       var cadena = $('#respuesta').val();
    //       // alert(cadena);
    //       for (var i = data.length - 1; i >= 0; i--) {
    //         if (data[i]['nombres'].toLowerCase().indexOf(cadena.toLowerCase()) != -1 || data[i]['apellidos'].toLowerCase().indexOf(cadena.toLowerCase()) != -1) {
    //           console.log(data[i]['nombres']+' '+data[i]['apellidos']);
    //         };
    //       };
    //       // console.log(JSON.stringify(data));
    //       // alert(JSON.stringify(data));

    //     }
    // })
  }
</script>
