<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
	<body>
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        	<td colspan="2" align="left" valign="top" bgcolor="#2a2a2a" style="background-color:#2a2a2a; padding:10px; font-family:Georgia, 'Times New Roman', Times, serif; color:#43c1d7; font-size:20px;">¡Bienvenido a FORMINST!</td>
		      </tr>
		      <tr>
		        <td width="1000" align="center" valign="top" style="padding:12px; background-color:#ffffff;" bgcolor="#ffffff;"><table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:20px;">
		        </table>
		          <table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:20px;">
		            <tr>
		              <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;">
			              <div style="color:#43c1d7; font-size:19px;"><b>Notificación:</b><br>
			              </div>
			              <br>
			              <div style="color:#43c1d7;"><b><%= @mensaje %></b><br>
			              </div>
			              <br>
			              <div style="color:#6e6e6e;"> Para mayor información, por favor ingrese al Sitio web de FORMINST</div>
			              <br>
			              <br>
		              </td>
		            </tr>
		            <tr>
		              <td align="center" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;">
			              <div style="color:#6e6e6e;"> Universidad Central de Venezuela</div>
			              <div style="color:#6e6e6e;"> Facultad de Ciencias</div>
			              <div style="color:#6e6e6e;"> Sistema FORMINST</div>
		              </td>
		            </tr>
		          </table>
		        </table>
		        </td>
		      </tr>
		      <tr>
		      	<td colspan="2" align="left" valign="top" bgcolor="#2a2a2a" style="background-color:#2a2a2a; padding:10px; font-family:Georgia, 'Times New Roman', Times, serif; color:#43c1d7; font-size:20px;"></td>
		      </tr>
		    </table>
		    <br>
		    <br>
		  </tr>
		</table>
	</body>
</html>