<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" valign="top" bgcolor="#797979" style="background-color:#797979;"><br>
    <br>
    <table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td colspan="2" align="left" valign="top" bgcolor="#2a2a2a" style="background-color:#2a2a2a; padding:10px; font-family:Georgia, 'Times New Roman', Times, serif; color:#43c1d7; font-size:60px;">My Blog</td>
        </tr>
      <tr>
        <td width="201" align="center" valign="top" style="padding:12px; background-color:#ffffff;" bgcolor="#ffffff;"><table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:20px;">
          <tr>
            <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000000;"><b>In This Issue</b></td>
          </tr>
          <tr>
            <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;"><a href="#" style="color:#000000; text-decoration:underline;">Lorem ipsum dolor si</a>t <br>
              <a href="#" style="color:#000000; text-decoration:underline;">amet, consectr adipiscing</a><br>
              <a href="#" style="color:#000000; text-decoration:underline;">vitae nibh pulvinar</a><br>
              <a href="#" style="color:#000000; text-decoration:underline;">Aliquam erat volutpat</a></td>
          </tr>
        </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:20px;">
            <tr>
              <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000000;"><b>Other News</b></td>
            </tr>
            <tr>
              <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;">
              <div style="color:#43c1d7; font-size:19px;"><b>Lorem ipsum dolor sit amet, consectetur</b><br>
              </div>
             <div style="color:#6e6e6e;"> adipiscing elit. Vestibulum magna enim, volutpat nec imperdiet id, tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim. Morbi eleifend feugiat</div> </td>
            </tr>
          </table>
          <table width="100%" border="0" cellspacing="0" cellpadding="4" style="margin-bottom:20px;">
            <tr>
              <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:14px; color:#000000;"><b>Follow Us On</b></td>
            </tr>
            <tr>
              <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="33%" align="left" valign="middle"><img src="images/tweet48.png" width="48" height="48"></td>
                  <td width="34%" align="left" valign="middle"><img src="images/in48.png" width="48" height="48"></td>
                  <td width="33%" align="left" valign="middle"><img src="images/face48.png" width="48" height="48"></td>
                </tr>
              </table></td>
            </tr>
          </table></td>
        <td align="left" valign="top" style="background-color:#e4e4e4; padding:10px;" bgcolor="#e4e4e4;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; color:#6e6e6e;">
            <div style="font-size:24px;"><b>Lorem ipsum dolor sit </b></div>
            <div style="font-size:14px;"><br>
              <b>consectetur adipiscing elit. Vestibulum magna enim, volutpat nec imperdiet id, tempor venenatis eros.</b></div>
               <div><br>
                 <img src="images/mainpic.jpg" width="349" height="161" style="display:block;"></div>
               <div style="font-size:11px;"><br>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna enim, volutpat nec imperdiet id, tempor venenatis eros. Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim. Morbi eleifend feugiat turpis non placerat. Etiam sed tellus ac lectus lacinia molestie nec eu nisl. <br>
              <br>
              <br>
               </div>
               <div style="font-size:16px; color:#0cade3;"><b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum magna enim, volutpat nec imperdiet id</b></div>
               <div style="font-size:11px;"><br>
                 Yempor venenatis eros.Aliquam sed velit vitae nibh pulvinar iaculis. Aenean hendrerit, lorem eu luctus cursus, sapien justo auctor ligula, id bibendum lorem leo quis leo. Suspendisse sit amet aliquam orci. Aliquam erat volutpat. Aliquam erat volutpat. Nunc ac justo enim. Morbi eleifend feugiat turpis non placerat. Etiam sed tellus ac lectus lacinia molestie nec eu nisl. <br>
  <br>
               </div></td>
          </tr>
        </table></td>
      </tr>
    </table>
    <br>
    <br></td>
  </tr>
</table>
</body>
</html>
