<div class = 'row'>
	<div class="col-xs-12 col-md-12">
		
			<ul class="nav nav-tabs">
				<li><a href="../administrador/index" >Inicio</a></li>
				<li><a href="../administrador/agregar_secretaria">Agregar Secretaria</a></li>	
        		<li><a href="../administrador/seleccionar_entidad" class = 'active'>Modificar Email Entidad</a></li>   	
       			<li><a href="../administrador/seleccionar_entidad_participante">Agregar Participante Entidad</a></li>  		
				<li><a href="../administrador/logout">Cerrar Sesión</a></li>
				<li><%#= link_to 'Cerrar Sesión', :controller => 'iniciotutor', :action => 'logout', :salida => '1' %></li>
			</ul>
		
	</div>

</div>
<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="text-right">
			<div id = "fechamuestra">
				<h3> <%= Time.now.strftime("%d") %>
		          <% if Time.now.strftime("%m").to_i == 1 %>
		            de Enero del
		          <% elsif Time.now.strftime("%m").to_i == 2 %>
		            de Febrero del
		          <% elsif Time.now.strftime("%m").to_i == 3 %>
		            de Marzo del
		          <% elsif Time.now.strftime("%m").to_i == 4 %>
		            de Abril del
		          <% elsif Time.now.strftime("%m").to_i == 5 %>
		            de Mayo del
		          <% elsif Time.now.strftime("%m").to_i == 6 %>
		            de Junio del
		          <% elsif Time.now.strftime("%m").to_i == 7 %>
		            de Julio del
		          <% elsif Time.now.strftime("%m").to_i == 8 %>
		            de Agosto del
		          <% elsif Time.now.strftime("%m").to_i == 9 %>
		            de Septiembre del
		          <% elsif Time.now.strftime("%m").to_i == 10 %>
		            de Octubre del
		          <% elsif Time.now.strftime("%m").to_i == 11 %>
		            de Noviembre del
		          <% elsif Time.now.strftime("%m").to_i == 12 %>
		            de Diciembre del
		          <% end %>
		          <%= Time.now.strftime("%Y") %> 
		        </h3>
			</div>
			<h4><b>Administrador</b></h4>
		</div>
	</div>
</div>


<div class = 'row'>
  <div class="col-xs-11 col-xs-offset-1 col-md-12 col-md-offset-0 text-center">
    <h5><strong>MODIFICAR EMAIL ENTIDAD</strong></h5>
  </div>
</div>

<form accept-charset="UTF-8" controller ="administrador" action="guardar_email">
<div class= "row">
  <div class="col-xs-10 col-xs-offset-1 col-md-12 col-md-offset-0">
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
          <tr>
            <td class="text-center"><strong>Correo Electronico de la Entidad</strong></td>
          </tr>
          <tr> 
            <td class="text-center">
              <input type="text" name="email" class="form-control" value="<%=@email%>" required oninvalid="setCustomValidity('Ingrese un email válido')" onchange="try{setCustomValidity('')}catch(e){}">
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<center><input name="commit" type="submit" class="btn btn-info btn-lg" value="Guardar" /></center>
</form>

<br><br> 