<div class = 'row'>
	<div class="col-xs-12 col-md-12">
			<ul class="nav nav-tabs">
				<li><a href="../inicioinstructor/index">Inicio</a></li>
				<li><a href="../inicioinstructor/listar_adecuaciones">Adecuación del Plan</a></li>
				<li><a href="../inicioinstructor/listar_informes" >Informes</a></li>
				<li><a href="../inicioinstructor/prorrogas" class = 'active'>Prorrogas</a></li>
				<li><a href="../inicioinstructor/logout">Cerrar Sesión</a></li>
			</ul>
	</div>
</div>

<div class="row">
	<div class="col-xs-12 col-md-12">
		<div class="text-right">
			<div id = "fechamuestra">
				<h3> <%= Time.now.strftime("%d") %>
		          <% if Time.now.strftime("%m").to_i == 1 %>
		            de Enero del
		          <% elsif Time.now.strftime("%m").to_i == 2 %>
		            de Febrero del
		          <% elsif Time.now.strftime("%m").to_i == 3 %>
		            de Marzo del
		          <% elsif Time.now.strftime("%m").to_i == 4 %>
		            de Abril del
		          <% elsif Time.now.strftime("%m").to_i == 5 %>
		            de Mayo del
		          <% elsif Time.now.strftime("%m").to_i == 6 %>
		            de Junio del
		          <% elsif Time.now.strftime("%m").to_i == 7 %>
		            de Julio del
		          <% elsif Time.now.strftime("%m").to_i == 8 %>
		            de Agosto del
		          <% elsif Time.now.strftime("%m").to_i == 9 %>
		            de Septiembre del
		          <% elsif Time.now.strftime("%m").to_i == 10 %>
		            de Octubre del
		          <% elsif Time.now.strftime("%m").to_i == 11 %>
		            de Noviembre del
		          <% elsif Time.now.strftime("%m").to_i == 12 %>
		            de Diciembre del
		          <% end %>
		          <%= Time.now.strftime("%Y") %> 
		        </h3>
			</div>
			<%if @nombre%>
				<div>
					<h4><b><%=@nombre%></b></h4>
				</div>
			<%end%>
		</div>
	</div>
</div>

<% if @prorroga %>
<div class = 'row'>
  <div class="col-xs-5 col-md-12">
    <div class="table-responsive">
      <table class="table table-hover table-bordered text-center">
        <thead>
          <tr>
            <th class="text-center">Fecha de Aprobación</th>
            <th class="text-center">Instructor</th>
            <th class="text-center">Tiempo de la Prórroga (en Meses)</th>
          </tr>
        </thead>

        <tbody>
            
        </tbody>
      </table>
    </div>
  </div>
</div>
<% else %>
  <div class = 'row'>
    <div class="col-xs-5 col-md-12">
      <h3 class = 'text-center'>No hay Prórrogas</h3>
    </div>
  </div>
  <br>
<% end %>

<div class = 'row'>
  <div class = 'col-xs-5 col-md-12'>
    <center>
      <button type="button" class="btn btn-default" onclick = " location.href = 'javascript:history.back(-1);'">Volver</button>
    </center>
  </div>
</div>

