<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Estimado,</h1>
    <p>
       Le informamos que ha recibido un nuevo informe.
        
    </p>
  </body>
</html>